.topics {
    margin-bottom: 30px;
}

.topics__title {
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
    border-bottom: 3px solid #3398d4;
    margin: 0;
    padding: 12px;
    cursor: pointer;
    margin-bottom: 30px;
}

