// @import url(../../assets/img/LogoHeader.png);

.header {
    display: flex;
    justify-content: space-between;
    padding: 15px 100px;
    align-items: center;
    box-shadow: 1px 1px 15px rgba(#c0c0c0, 1);
    position: sticky;
    z-index: 1;
}

.header__left {
    display: flex;
    align-items: center;
    ul {
        display: flex;
        margin: 0;
        align-items: center;
        gap: 10px;
        li {
            list-style: none;
            a {
                text-decoration: none;
                color: #606266;
                font-size: 20px;
                display: block;
                padding: 5px;
                display: flex;
                align-items: center;
            }
            &:last-child {
                a {
                    color: #b45309;
                    font-size: 14px;
                    display: block;
                    background-color: #fff7ed;
                    border-radius: 15px;
                    padding: 2px 10px;
                }

            }
        }
    }
}

.header__logo {
    max-width: 110px;
    cursor: pointer;
    img {
        width: 100%;
    }
}

.header__menu-right ul {
    display: flex;
    margin: 0;
    align-items: center;
    gap: 15px;
    li {
        list-style: none;
        color: #161616;
        button {
            border: none;
            background-color: transparent;
            display: flex;
            align-items: center;
            color: #969696;
            font-size: 22px;
        }
        &:last-child {
            background-color: #3398d4;
            border-radius: 20px;
            color: #fff;
            padding: 8px 20px;

            a {
                color: #fff;
            }

            button {
                color: #fff;
                font-size: 16px;
            }
        }

        a {
            text-decoration: none;
            color: #383838;
            font-size: 16px;
        }
    }
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) {
   .header__menu-right {
        ul {
            li {
                &:nth-child(2) {
                    display: none;
                }
            }
        }
   }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    .header__logo {
        width: auto;

        img {
            content: url(../../assets/img/LogoHeader.png);
        }
    }

    .header__menu-left {
        display: none;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 1050px) {
    .header {
        padding: 15px;
        
        &__menu-left {
            ul {
                li {
                    &:last-child {
                        display: none;
                    }
                }
            }
        }
    }

}

// /* Extra large devices (large laptops and desktops, 1200px and up) */
// @media only screen and (min-width: 1200px) {
    
// }