.loginUser {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;

    img {
        width: 100px;
        margin-bottom: 30px;
    }

    div {
        margin-bottom: 10px;

        input {
            display: block;
            width: 350px;
            border: 1px solid #dadada;
            margin-bottom: 20px;
            padding: 8px 15px;
            outline: none;

            &::placeholder {
                color: #aaaaaa;
            }
        }

        button {
            display: block;
            width: 350px;
            margin-bottom: 20px;
            padding: 8px 15px;
            background-color: #2fb5fa;
            outline: none;
            border: none;
            color: #fff;
        }
    }

    .loginUser__bottom {
        text-align: left;

        a {
            text-decoration: none;
        }

        div {
            margin-top: 8px;

            span {
                margin-right: 5px;
                color: #636363;
            }
        }
    }
}