.topics__item {
    width: 100%;

    a {
        border: 1px solid #c9c9c9;
        display: inline-block;
        padding: 8px 10px;
        text-decoration: none;
        border-radius: 30px;
        color: #585858;
        margin: 5px;
        min-width: 60px;
        text-align: center;
        font-size: 16px;
    }
}