.about__people {
    background-color: #f0f2f5;
    padding: 0px 130px 50px;
}

.people__title h1{
    padding: 5px;
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #2e2e2e;
}

.person-col {
    padding: 5px;
}

.person {
    width: 100%;

    img {
        width: 100%;
    }
}